h2{
    color: blue;
    background-color: bisque;
}
p{
    color: rgba(86, 158, 241, 0.866);
    background-color: blanchedalmond;
}
button{
    color: blue;
    background-color: blanchedalmond;
    
}